out
dist
node_modules
.vscode-test/
*.vsix
*.tgz
vsc-extension-quickstart.md
ipc
ocp_vscode.egg-info
ocp_vscode/__pycache__
build
dist
.DS_Store
lego.py
change.tar
three-cad-viewer-*.tgz
ocp-vscode-backend.log
ocp_tessellate.log
