dist/ocp_vscode-*.tar.gz
dist/ocp_vscode-*.whl
test/
build/
src/
docs/
ocp_vscode.egg-info/
.gitignore
.ocp_vscode
.pytest_cache
.vscode
main.py
setup.cfg
setup.py
vsc-extension-quickstart.md
test.sh

out/logo_alt.js

screenshots/*.gif
screenshots/ocp_vscode_debug.png
screenshots/ocp_vscode_installed.png
screenshots/ocp_vscode_run.png
screenshots/angle-tool.png
screenshots/axes-and-grids.png
screenshots/edges-parent.png
screenshots/faces-parent.png
screenshots/glass-collapsed.png
screenshots/glass.png
screenshots/install_ocp_vscode.png
screenshots/jupyter-header.png
screenshots/measure-tool.png
screenshots/named-objects.png
screenshots/ocp-on.png
screenshots/ocp_vscode_installed.png
screenshots/properties-tool.png
screenshots/topo-filter.png
screenshots/vertices-parent.png


node_modules/three-cad-viewer/dist/three-cad-viewer.esm.min.js
node_modules/three-cad-viewer/dist/three-cad-viewer.js
node_modules/three-cad-viewer/dist/three-cad-viewer.min.js
ocp-vscode-icons.afdesign
Makefile

media/ocp-logo.afdesign
media/ocp-icon.pxm
media/ocp-icon.pxm
media/ocp-logo.afdesign
media/ocp-icon.afdesign
media/ocp-icon.png
media/ocp-logo.png

examples/*
TODO
node_modules/@aashutoshrathi
node_modules/@eslint
node_modules/@eslint-community
node_modules/@humanwhocodes
node_modules/@nodelib
node_modules/@tootallnate
node_modules/@types
node_modules/@typescript-eslint
node_modules/acorn
node_modules/acorn-jsx
node_modules/agent-base
node_modules/ajv
node_modules/ansi-colors
node_modules/ansi-regex
node_modules/ansi-styles
node_modules/anymatch
node_modules/argparse
node_modules/array-union
node_modules/azure-devops-node-api
node_modules/balanced-match
node_modules/base64-js
node_modules/binary-extensions
node_modules/bl
node_modules/boolbase
node_modules/brace-expansion
node_modules/braces
node_modules/browser-stdout
node_modules/buffer
node_modules/buffer-crc32
node_modules/call-bind
node_modules/callsites
node_modules/camelcase
node_modules/chalk
node_modules/cheerio
node_modules/cheerio-select
node_modules/chokidar
node_modules/chownr
node_modules/cliui
node_modules/color-convert
node_modules/color-name
node_modules/commander
node_modules/concat-map
node_modules/core-util-is
node_modules/cross-spawn
node_modules/css-select
node_modules/css-what
node_modules/debug
node_modules/decamelize
node_modules/decompress-response
node_modules/deep-extend
node_modules/deep-is
node_modules/detect-libc
node_modules/diff
node_modules/dir-glob
node_modules/doctrine
node_modules/dom-serializer
node_modules/domelementtype
node_modules/domhandler
node_modules/domutils
node_modules/emoji-regex
node_modules/end-of-stream
node_modules/entities
node_modules/escalade
node_modules/escape-string-regexp
node_modules/eslint
node_modules/eslint-scope
node_modules/eslint-visitor-keys
node_modules/espree
node_modules/esquery
node_modules/esrecurse
node_modules/estraverse
node_modules/esutils
node_modules/expand-template
node_modules/fast-deep-equal
node_modules/fast-glob
node_modules/fast-json-stable-stringify
node_modules/fast-levenshtein
node_modules/fastq
node_modules/fd-slicer
node_modules/file-entry-cache
node_modules/fill-range
node_modules/find-up
node_modules/flat
node_modules/flat-cache
node_modules/flatted
node_modules/fs-constants
node_modules/fs.realpath
node_modules/fsevents
node_modules/function-bind
node_modules/get-caller-file
node_modules/get-intrinsic
node_modules/github-from-package
node_modules/glob
node_modules/glob-parent
node_modules/globals
node_modules/globby
node_modules/grapheme-splitter
node_modules/graphemer
node_modules/has
node_modules/has-flag
node_modules/has-proto
node_modules/has-symbols
node_modules/he
node_modules/hosted-git-info
node_modules/htmlparser2
node_modules/http-proxy-agent
node_modules/https-proxy-agent
node_modules/ieee754
node_modules/ignore
node_modules/immediate
node_modules/import-fresh
node_modules/imurmurhash
node_modules/inflight
node_modules/inherits
node_modules/ini
node_modules/is-binary-path
node_modules/is-extglob
node_modules/is-fullwidth-code-point
node_modules/is-glob
node_modules/is-number
node_modules/is-path-inside
node_modules/is-plain-obj
node_modules/is-unicode-supported
node_modules/isarray
node_modules/isexe
node_modules/js-yaml
node_modules/json-schema-traverse
node_modules/json-stable-stringify-without-jsonify
node_modules/jsonc-parser
node_modules/jszip
node_modules/keytar
node_modules/leven
node_modules/levn
node_modules/lie
node_modules/linkify-it
node_modules/locate-path
node_modules/lodash.merge
node_modules/log-symbols
node_modules/markdown-it
node_modules/mdurl
node_modules/merge2
node_modules/micromatch
node_modules/mime
node_modules/mimic-response
node_modules/minimatch
node_modules/minimist
node_modules/mkdirp-classic
node_modules/mocha
node_modules/ms
node_modules/mute-stream
node_modules/nanoid
node_modules/napi-build-utils
node_modules/natural-compare
node_modules/natural-compare-lite
node_modules/node-abi
node_modules/node-addon-api
node_modules/normalize-path
node_modules/nth-check
node_modules/object-inspect
node_modules/once
node_modules/optionator
node_modules/p-limit
node_modules/p-locate
node_modules/pako
node_modules/parent-module
node_modules/parse-semver
node_modules/parse5
node_modules/parse5-htmlparser2-tree-adapter
node_modules/path-exists
node_modules/path-is-absolute
node_modules/path-key
node_modules/path-type
node_modules/pend
node_modules/picomatch
node_modules/prebuild-install
node_modules/prelude-ls
node_modules/process-nextick-args
node_modules/pump
node_modules/punycode
node_modules/qs
node_modules/queue-microtask
node_modules/randombytes
node_modules/rc
node_modules/read
node_modules/readable-stream
node_modules/readdirp
node_modules/require-directory
node_modules/resolve-from
node_modules/reusify
node_modules/rimraf
node_modules/run-parallel
node_modules/safe-buffer
node_modules/sax
node_modules/serialize-javascript
node_modules/setimmediate
node_modules/shebang-command
node_modules/shebang-regex
node_modules/side-channel
node_modules/simple-concat
node_modules/simple-get
node_modules/slash
node_modules/string-width
node_modules/string_decoder
node_modules/strip-ansi
node_modules/strip-json-comments
node_modules/supports-color
node_modules/tar-fs
node_modules/tar-stream
node_modules/text-table
node_modules/three
node_modules/tmp
node_modules/to-regex-range
node_modules/tslib
node_modules/tsutils
node_modules/tunnel
node_modules/tunnel-agent
node_modules/type-check
node_modules/type-fest
node_modules/typed-rest-client
node_modules/typescript
node_modules/uc.micro
node_modules/underscore
node_modules/uri-js
node_modules/url-join
node_modules/util-deprecate
node_modules/which
node_modules/workerpool
node_modules/wrap-ansi
node_modules/wrappy
node_modules/xml2js
node_modules/xmlbuilder
node_modules/y18n
node_modules/yargs
node_modules/yargs-parser
node_modules/yargs-unparser
node_modules/yauzl
node_modules/yazl
node_modules/yocto-queue

three-cad-viewer-v*.tgz